/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.header {
    background-color: #fff;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
}

.overlay {
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 70%;
}

.nav-list li {
    display: inline-block;
    padding-left: 3rem;
}

.nav-list li a {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-list li a:hover {
    text-decoration: underline;
    color: #651432;
}

.nav-item-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
}

.nav-item-2 {
    text-align: end;
}

.nav-item-2 li a {
    font-size: 1.2rem;
}

.burger .bar {
    display: inline-block;
    width: 3rem;
    height: .2rem;
    background-color: black;
    position: relative;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.burger .bar::before,
.burger .bar::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.burger .bar::before {
    -webkit-transform: translateY(-1rem);
        -ms-transform: translateY(-1rem);
            transform: translateY(-1rem)
}

.burger .bar::after {
    -webkit-transform: translateY(1rem);
        -ms-transform: translateY(1rem);
            transform: translateY(1rem)
}

#burger-toggle {
    display: none;
}

.burger {
    width: 3rem;
    height: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    position: absolute;
    right: 2.5rem;
    display: none;
}

@media only screen and (max-width: 991px) {

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255);
        -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%);
        -webkit-transition: -webkit-transform .3s;
        transition: -webkit-transform .3s;
        -o-transition: transform .3s;
        transition: transform .3s;
        transition: transform .3s, -webkit-transform .3s;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .nav-list ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .nav-list li {
        margin: 1rem 0;
        padding-left: 0;
    }

    .nav-list li a {
        font-size: 2rem;
        padding: 1rem 2rem;
        display: inline-block;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .nav-list li input {
        border: 1px solid;
    }

    .burger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        z-index: 99;
    }

    .div-logo {
        width: 25%;
    }

    #burger-toggle:checked~.nav-list {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }

    #burger-toggle:checked~.burger .bar::before {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }

    #burger-toggle:checked~.burger .bar::after {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }

    #burger-toggle:checked~.burger .bar {
        background-color: transparent;
    }
}