.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
}

.overlay {
    padding: 2rem 2.5rem;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list li {
    display: inline-block;
    padding-left: 3rem;
}

.nav-list li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    color: #fff;
}

.burger .bar {
    display: inline-block;
    width: 3rem;
    height: .2rem;
    background-color: black;
    position: relative;
    transition: all .3s;
}

.burger .bar::before,
.burger .bar::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    transition: all .3s;
}

.burger .bar::before {
    transform: translateY(-1rem)
}

.burger .bar::after {
    transform: translateY(1rem)
}

#burger-toggle {
    display: none;
}

.burger {
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 2.5rem;
    display: none;
}

@media only screen and (max-width: 991px) {

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255);
        transform: translateX(-100%);
        transition: transform .3s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-list ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-list li {
        margin: 1rem 0;
        padding-left: 0;
    }

    .nav-list li a {
        font-size: 2rem;
        padding: 1rem 2rem;
        display: inline-block;
        transition: all .3s;
    }

    .nav-lisr li a:hover {
        background-color: #fff;
        color: rgba(255, 255, 255);
        transform: translateY(-1rem);
    }

    .burger {
        display: flex;
        z-index: 99;
    }

    .div-logo {
        max-height: 10vh;
        z-index: 99;
    }

    #burger-toggle:checked~.nav-list {
        transform: none;
    }

    #burger-toggle:checked~.burger .bar::before {
        transform: rotate(45deg);
    }

    #burger-toggle:checked~.burger .bar::after {
        transform: rotate(-45deg);
    }

    #burger-toggle:checked~.burger .bar {
        background-color: transparent;
    }
}