/* Style sur commun a toutes les pages */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    font-size: 62.5%;
    background-color: rgba(255, 255, 255, 0.95);
}

body {
    font-size: 1.6rem;
    min-height: 80vh;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (min-width: 1900px) {

    body {
        max-width: 1900px;
        margin: auto;
    }

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem 0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #651432;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

footer a {
    color: white;
}

.btn-myPrimary {
    background-color: #651432;
    color: white;
}

.mybtn {
    margin-top: 2rem;
    font-size: 2rem;
}

.mybtn:hover {
    background-color: white;
    color: #651432;

    transition: 1s;
}