/* Style sur commun a toutes les pages */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    font-size: 62.5%;
    background-color: rgba(255, 255, 255, 0.95);
}

body {
    font-size: 1.6rem;
    min-height: 80vh;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Lato', sans-serif;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #333;
}

footer a {
    color: white;
}